$icomoon-font-path: "../fonts" !default;

$z-add-outline: "\e900";
$z-add-solid: "\e901";
$z-adjust: "\e902";
$z-airplane: "\e903";
$z-album: "\e904";
$z-align-center: "\e905";
$z-align-justified: "\e906";
$z-align-left: "\e907";
$z-align-right: "\e908";
$z-anchor: "\e909";
$z-announcement: "\e90a";
$z-apparel: "\e90b";
$z-arrow-down: "\e90c";
$z-arrow-left: "\e90d";
$z-arrow-outline-down: "\e90e";
$z-arrow-outline-left: "\e90f";
$z-arrow-outline-right: "\e910";
$z-arrow-outline-up: "\e911";
$z-arrow-right: "\e912";
$z-arrow-thick-down: "\e913";
$z-arrow-thick-left: "\e914";
$z-arrow-thick-right: "\e915";
$z-arrow-thick-up: "\e916";
$z-arrow-thin-down: "\e917";
$z-arrow-thin-left: "\e918";
$z-arrow-thin-right: "\e919";
$z-arrow-thin-up: "\e91a";
$z-arrow-up: "\e91b";
$z-artist: "\e91c";
$z-at-symbol: "\e91d";
$z-attachment: "\e91e";
$z-backspace: "\e91f";
$z-backward: "\e920";
$z-backward-step: "\e921";
$z-badge: "\e922";
$z-battery-full: "\e923";
$z-battery-half: "\e924";
$z-battery-low: "\e925";
$z-beverage: "\e926";
$z-block: "\e927";
$z-bluetooth: "\e928";
$z-bolt: "\e929";
$z-book-reference: "\e92a";
$z-bookmark: "\e92b";
$z-bookmarkcopy2: "\e92c";
$z-bookmarkcopy3: "\e92d";
$z-bookmark-outline: "\e92e";
$z-bookmark-outline-add: "\e92f";
$z-border-all: "\e930";
$z-border-bottom: "\e931";
$z-border-horizontal: "\e932";
$z-border-inner: "\e933";
$z-border-left: "\e934";
$z-border-none: "\e935";
$z-border-outer: "\e936";
$z-border-right: "\e937";
$z-border-top: "\e938";
$z-border-vertical: "\e939";
$z-box: "\e93a";
$z-brightness-down: "\e93b";
$z-brightness-up: "\e93c";
$z-browser-window: "\e93d";
$z-browser-window-new: "\e93e";
$z-browser-window-open: "\e93f";
$z-bug: "\e940";
$z-buoy: "\e941";
$z-calculator: "\e942";
$z-calendar: "\e943";
$z-camera: "\e944";
$z-chart: "\e945";
$z-chart-bar: "\e946";
$z-chart-pie: "\e947";
$z-chat-bubble-dots: "\e948";
$z-checkmark: "\e949";
$z-checkmark-outline: "\e94a";
$z-cheveron-down: "\e94b";
$z-cheveron-left: "\e94c";
$z-cheveron-outline-down: "\e94d";
$z-cheveron-outline-left: "\e94e";
$z-cheveron-outline-right: "\e94f";
$z-cheveron-outline-up: "\e950";
$z-cheveron-right: "\e951";
$z-cheveron-up: "\e952";
$z-clipboard: "\e953";
$z-close: "\e954";
$z-close-outline: "\e955";
$z-close-solid: "\e956";
$z-cloud: "\e957";
$z-cloud-upload: "\e958";
$z-code: "\e959";
$z-coffee: "\e95a";
$z-cog: "\e95b";
$z-color-palette: "\e95c";
$z-compose: "\e95d";
$z-computer-desktop: "\e95e";
$z-computer-laptop: "\e95f";
$z-conversation: "\e960";
$z-copy: "\e961";
$z-credit-card: "\e962";
$z-currency-dollar: "\e963";
$z-dashboard: "\e964";
$z-date-add: "\e965";
$z-dial-pad: "\e966";
$z-directions: "\e967";
$z-document: "\e968";
$z-document-add: "\e969";
$z-dots-horizontal-double: "\e96a";
$z-dots-horizontal-triple: "\e96b";
$z-download: "\e96c";
$z-duplicate: "\e96d";
$z-edit-copy: "\e96e";
$z-edit-crop: "\e96f";
$z-edit-cut: "\e970";
$z-edit-pencil: "\e971";
$z-education: "\e972";
$z-envelope: "\e973";
$z-exclamation-outline: "\e974";
$z-exclamation-solid: "\e975";
$z-explore: "\e976";
$z-factory: "\e977";
$z-fast-forward: "\e978";
$z-fast-rewind: "\e979";
$z-film: "\e97a";
$z-filter: "\e97b";
$z-flag: "\e97c";
$z-flashlight: "\e97d";
$z-folder: "\e97e";
$z-folder-outline: "\e97f";
$z-folder-outline-add: "\e980";
$z-format-bold: "\e981";
$z-format-font-size: "\e982";
$z-format-italic: "\e983";
$z-format-text-size: "\e984";
$z-format-underline: "\e985";
$z-forward: "\e986";
$z-forward-step: "\e987";
$z-gift: "\e988";
$z-globe: "\e989";
$z-hand-stop: "\e98a";
$z-hard-drive: "\e98b";
$z-headphones: "\e98c";
$z-heart: "\e98d";
$z-home: "\e98e";
$z-hot: "\e98f";
$z-hour-glass: "\e990";
$z-inbox: "\e991";
$z-inbox-check: "\e992";
$z-inbox-download: "\e993";
$z-inbox-full: "\e994";
$z-indent-decrease: "\e995";
$z-indent-increase: "\e996";
$z-information-outline: "\e997";
$z-information-solid: "\e998";
$z-key: "\e999";
$z-keyboard: "\e99a";
$z-layers: "\e99b";
$z-library: "\e99c";
$z-light-bulb: "\e99d";
$z-link: "\e99e";
$z-list: "\e99f";
$z-list-add: "\e9a0";
$z-list-bullet: "\e9a1";
$z-load-balancer: "\e9a2";
$z-location: "\e9a3";
$z-location-current: "\e9a4";
$z-location-food: "\e9a5";
$z-location-gas-station: "\e9a6";
$z-location-hotel: "\e9a7";
$z-location-marina: "\e9a8";
$z-location-park: "\e9a9";
$z-location-restroom: "\e9aa";
$z-location-shopping: "\e9ab";
$z-lock-closed: "\e9ac";
$z-lock-open: "\e9ad";
$z-map: "\e9ae";
$z-menu: "\e9af";
$z-mic: "\e9b0";
$z-minus-outline: "\e9b1";
$z-minus-solid: "\e9b2";
$z-mobile-devices: "\e9b3";
$z-mood-happy-outline: "\e9b4";
$z-mood-happy-solid: "\e9b5";
$z-mood-neutral-outline: "\e9b6";
$z-mood-neutral-solid: "\e9b7";
$z-mood-sad-outline: "\e9b8";
$z-mood-sad-solid: "\e9b9";
$z-mouse: "\e9ba";
$z-music-album: "\e9bb";
$z-music-artist: "\e9bc";
$z-music-notes: "\e9bd";
$z-music-playlist: "\e9be";
$z-navigation-more: "\e9bf";
$z-network: "\e9c0";
$z-news-paper: "\e9c1";
$z-notification: "\e9c2";
$z-notifications: "\e9c3";
$z-notifications-outline: "\e9c4";
$z-paste: "\e9c5";
$z-pause: "\e9c6";
$z-pause-outline: "\e9c7";
$z-pause-solid: "\e9c8";
$z-pen-tool: "\e9c9";
$z-phone: "\e9ca";
$z-photo: "\e9cb";
$z-php-elephant: "\e9cc";
$z-pin: "\e9cd";
$z-play: "\e9ce";
$z-play-outline: "\e9cf";
$z-playlist: "\e9d0";
$z-plugin: "\e9d1";
$z-portfolio: "\e9d2";
$z-printer: "\e9d3";
$z-pylon: "\e9d4";
$z-question: "\e9d5";
$z-queue: "\e9d6";
$z-radar: "\e9d7";
$z-radarcopy2: "\e9d8";
$z-radio: "\e9d9";
$z-refresh: "\e9da";
$z-reload: "\e9db";
$z-reply: "\e9dc";
$z-reply-all: "\e9dd";
$z-repost: "\e9de";
$z-save-disk: "\e9df";
$z-screen-full: "\e9e0";
$z-search: "\e9e1";
$z-send: "\e9e2";
$z-servers: "\e9e3";
$z-share: "\e9e4";
$z-share-01: "\e9e5";
$z-share-alt: "\e9e6";
$z-shield: "\e9e7";
$z-shopping-cart: "\e9e8";
$z-show-sidebar: "\e9e9";
$z-shuffle: "\e9ea";
$z-stand-by: "\e9eb";
$z-star-full: "\e9ec";
$z-station: "\e9ed";
$z-step-backward: "\e9ee";
$z-step-forward: "\e9ef";
$z-stethoscope: "\e9f0";
$z-store-front: "\e9f1";
$z-stroke-width: "\e9f2";
$z-subdirectory-left: "\e9f3";
$z-subdirectory-right: "\e9f4";
$z-swap: "\e9f5";
$z-tablet: "\e9f6";
$z-tag: "\e9f7";
$z-target: "\e9f8";
$z-text-box: "\e9f9";
$z-text-decoration: "\e9fa";
$z-thermometer: "\e9fb";
$z-thumbs-down: "\e9fc";
$z-thumbs-up: "\e9fd";
$z-ticket: "\e9fe";
$z-time: "\e9ff";
$z-timer: "\ea00";
$z-toolscopy: "\ea01";
$z-translate: "\ea02";
$z-trash: "\ea03";
$z-travel: "\ea04";
$z-travel-bus: "\ea05";
$z-travel-car: "\ea06";
$z-travel-case: "\ea07";
$z-travel-taxi-cab: "\ea08";
$z-travel-train: "\ea09";
$z-travel-walk: "\ea0a";
$z-trophy: "\ea0b";
$z-tuning: "\ea0c";
$z-upload: "\ea0d";
$z-usb: "\ea0e";
$z-user: "\ea0f";
$z-user-add: "\ea10";
$z-user-group: "\ea11";
$z-user-solid-circle: "\ea12";
$z-user-solid-square: "\ea13";
$z-vector: "\ea14";
$z-video-camera: "\ea15";
$z-view-carousel: "\ea16";
$z-view-column: "\ea17";
$z-view-hide: "\ea18";
$z-view-list: "\ea19";
$z-view-show: "\ea1a";
$z-view-tile: "\ea1b";
$z-volume-down: "\ea1c";
$z-volume-mute: "\ea1d";
$z-volume-off: "\ea1e";
$z-volume-up: "\ea1f";
$z-wallet: "\ea20";
$z-watch: "\ea21";
$z-window: "\ea22";
$z-window-new: "\ea23";
$z-window-open: "\ea24";
$z-wrench: "\ea25";
$z-yin-yang: "\ea26";
$z-zoom-in: "\ea27";
$z-zoom-out: "\ea28";
